.classContainer{
    font-size: 20px;
}

.classRow {
    padding: 10px 30px;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
}

.classRow:hover {
    background-color: #e4f5ffc9;
}

.classRow:last-child{
    border-bottom: 0;
}

i {
    background-color: aliceblue;
}
